name: Build
on:
    pull_request:
    push:
      branches:
          - main
          - develop

permissions:
  contents: write

jobs:
    test:
        runs-on: ubuntu-latest
        env:
            GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        steps:
            - uses: actions/checkout@v2
              with:
                  fetch-depth: 0
            - uses: actions/setup-java@v3
              with:
                  distribution: temurin
                  java-version: 17
            - uses: actions/setup-node@v4
              with:
                # Version Spec of the version to use in SemVer notation.
                # It also emits such aliases as lts, latest, nightly and canary builds
                # Examples: 12.x, 10.15.1, >=10.15.0, lts/Hydrogen, 16-nightly, latest, node
                node-version: '20.x'
            - name: "install semrel"
              run: npm install -g semantic-release
            - name: "install semrel-android"
              run: npm i gradle-semantic-release-plugin
            - name: "run semrel"
              run: npx semantic-release
            - uses: actions/upload-artifact@v4
              name: "upload maven local for debugging"
              with:
                name: maven-local
                path: ~/.m2/repository
                retention-days: 7

            # - uses: gradle/gradle-build-action@v2.4.2
            #   name: Run tests
            #   with:
            #       arguments: testDebugUnitTestCoverageReport
